<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestions - Socialland</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #FFF8DE;">

    <div style="text-align: center; margin-top: 20px;"> 
        <p class="p1">Explore our past event highlights here</p>
        <br><br>
       <a href="https://drive.google.com/drive/folders/1YFrikb4iRnQy5rTu4ts_x9uXFRX-F_xJ" class="myButton3" target="_blank" rel="noopener noreferrer">
           Speaking Event Pics Here!
       </a>
        <br><br>
       <img class="pic1" src="/images/speaking-event.jpeg">
        <br><br>
        <a href="https://drive.google.com/drive/folders/1-fKgz0MlOJc3gHfljiDgDzTJFcit4TNs" class="myButton3" target="_blank" rel="noopener noreferrer">
           Translation Event Pics Here!
       </a>
        <br><br> 
        <img class="pic2" src="/images/translation-event.jpeg" >
        <br><br>
        <a href="/" class="myButton">Back to Main</a>
         <br><br>
    </div>

</body>