<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestions - Socialland</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #ece0c7;"> <div class="header">
        <h1 class="baslik">Suggestions & Complaints</h1>
        <p class="explanation">hmmm....we are perfect..</p>
    </div>

    <div style="text-align: center; margin-top: 50px;">
        <p>NO SUGGESTION NEEDED </p>
        <img src="/images/reco.jpg">
        
        <br><br>
        <a href="/" class="myButton">Back to Main</a>
    </div>

</body>
</html>