

body {
    background-color: #ece0c7; 
    margin: 0;
}

.myButton {
    box-shadow: 3px 4px 0px 0px #23395e;
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color: #2e466e;
    border-radius: 15px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}
.myButton:hover {
    background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    background-color: #415989;
}
.myButton:active {
    position: relative;
    top: 1px;
}

.myButton2 {
    box-shadow: 3px 4px 0px 0px #23395e;
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color: #2e466e;
    border-radius: 15px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}
.myButton2:hover {
    background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    background-color: #415989;
}
.myButton2:active {
    position: relative;
    top: 1px;
}

.myButton3 {
    box-shadow: 3px 4px 0px 0px #23395e;
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color: #2e466e;
    border-radius: 15px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}
.myButton3:hover {
    background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    background-color: #415989;
}
.myButton3:active {
    position: relative;
    top: 1px;
}


.header-container {
    display: flex;           
    flex-direction: column;  /*alt alta sıraladım */
    align-items: center;     
    padding-top: 20px;       /* Sayfanın tavanına yapışmaması için biraz boşluk */
    gap: 50px;               /* İki buton arasında otomatik boşluk bırakır */
    width: 100%;             /* Genişliğin tam olmasını sağlar */
}

.header {
    text-align: center; /* İçindeki tüm metinleri ve inline elemanları ortalar */
    padding-top: 100px;  /* En tepeden biraz boşluk bıraktırdım */
    margin-bottom: 20px; /* Altındaki butonlarla arasına mesafe koyar */
}

.baslik {
    margin: 0; /* Tarayıcının varsayılan boşluklarını sıfırladm */
    color: #2e466e; 
    font-family: Arial, sans-serif;
}

.explanation {
    margin-top: 30px; /* Başlık ile yazı arasına biraz boşluk */
    color: #555;     
    font-size: 18px;
}


.sayfa-icerigi {
    display: none;
    margin-top: 30px;
    text-align: center;
}

.aktif {
    display: block !important;
}